<% students = @school.get_students %>
<h3>Students:</h3>
          <table class="table">
            <tbody>
                <tr>
                  <th>
                    Name
                  </td>
                  <th class = "text-center">
                    With special needs
                  </th>
                  <th>
                  Gender
                  </th>
                  <th class = "text-center">
                    Department
                  </th>
                </tr>
                <% students.each do |student| %>

                  <% if student.gender.eql? "male" %>
                    <tr class="info">
                  <% else %>
                    <tr class="danger">
                  <% end %>
                 
                 <td>

                      <%= student.name %>
                      </td>
                      <td class = "text-center">

                        <%= form_for student, :remote => true  do |f| %>
                          <span class = "with-special-needs">
                            <%= student.with_special_needs.nil?? 'no': 'yes' %>
                          </span>
                          &nbsp&nbsp
                          <%= f.submit "edit",:class => 'btn btn-xs btn-warning edit-btn' %>
                        <% end %>
                        
                      </td>
                      <td>
                        <%= student.gender %>
                      </td>
                      <td class = "text-center">
                        <%= RomanNumerals.to_roman(student.department).to_s unless student.department.nil? %>
                      </td>

                  </tr>
                <% end %>
            </tbody>
        </table>  
